<%= turbo_frame_tag instruction do %>
  <%= turbo_frame_tag dom_id(instruction, :edit) do %>
    <div class="row">
      <div class="col">
        <p><%= instruction.content %></p>
      </div>

      <% if current_user && @recipe.user == current_user %>
        <div class="col">
          <p><%= instruction.position %></p>
        </div>

        <div class="col">
          <%= link_to "Edit", 
                      edit_recipe_instruction_path(@recipe, instruction), 
                      data: { turbo_frame: dom_id(instruction, :edit) },
                      class: "btn btn-warning"  %>
        </div>
        <div class="col">
          <%= button_to "Delete", [@recipe, instruction], class: "btn btn-danger", method: :delete, form: { data: { turbo_confirm: "Are you sure?" }} %>
        </div>
        <div class="col">
          <%= link_to "Up", lift_recipe_instruction_path(@recipe, instruction), data: { turbo_method: :put }, class: "btn btn-success" %>
        </div>
        <div class="col">
          <%= link_to "Down", drop_recipe_instruction_path(@recipe, instruction), data: { turbo_method: :put }, class: "btn btn-success" %>
        </div>
      <% end %>

      <hr />
    </div>
  <% end %>
<% end %>