<%= turbo_frame_tag instruction do %>
  <%= turbo_frame_tag dom_id(instruction, :edit) do %>
    <div class="row d-flex justify-content-around">
      <div class="col">
        <p><%= instruction.content %></p>
      </div>

      <% if current_user && @recipe.user == current_user %>
        <div class="col-auto">
          <div class="row">
            <div class="col">
              <%= link_to edit_recipe_instruction_path(@recipe, instruction), 
                          data: { turbo_frame: dom_id(instruction, :edit) },
                          class: "btn btn-warning" do %>
                <i class="fa-solid fa-pencil"></i>
              <% end %>

              <%= link_to lift_recipe_instruction_path(@recipe, instruction), data: { turbo_method: :put }, class: "btn btn-success" do %>
                <i class="fa-solid fa-arrow-up"></i>
              <% end %>

              <%= link_to drop_recipe_instruction_path(@recipe, instruction), data: { turbo_method: :put }, class: "btn btn-success" do %>
                <i class="fa-solid fa-arrow-down"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <hr />
    </div>
  <% end %>
<% end %>