<%= turbo_frame_tag instruction do %>
  <%= turbo_frame_tag dom_id(instruction, :edit) do %>
    <div class="row">
      <div class="col">
        <p><%= instruction.content %></p>
      </div>
      <div class="col">
        <p><%= instruction.position %></p>
      </div>

      <div class="col">
        <%= link_to "Edit", 
                    edit_recipe_instruction_path(@recipe, instruction), 
                    # data: { turbo_frame: dom_id(instruction, :edit) },
                    class: "btn btn-warning"  %>
      </div>
      <hr />
    </div>
  <% end %>
<% end %>