<%= turbo_frame_tag recipe do %>
<div class="list-group-item list-group-item-action mt-2 mb-2">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><%= recipe.title %></h5>
    <small>
      3 days ago | 
      <%= link_to recipe.user.email, user_path(recipe.user), target: "_top" %>
      <% if current_user && current_user.likes?(recipe) %>
      | <span class="badge bg-danger"> <i class="fa-solid fa-heart"></i> </span>
      <% end %>
    </small>
  </div>
  <div class="mb-1"><%= recipe.brief_info %></div>

  <small>
    And some small print.
  </small>

  <div class="row">

    <div class="col">
      Halal 
      <% if recipe.is_halal? %>
        <i class="fa-solid fa-circle-check ms-1" style="color: green"></i>
      <% else %>
        <i class="fa-solid fa-circle-xmark ms-1" style="color: red"></i>
      <% end %>
    </div>

    <div class="col">
      Kosher 
      <% if recipe.is_kosher? %>
        <i class="fa-solid fa-circle-check ms-1" style="color: green"></i>
      <% else %>
        <i class="fa-solid fa-circle-xmark ms-1" style="color: red"></i>
      <% end %>
    </div>

    <div class="col">
      Veg
      <% if recipe.is_vegetarian? %>
        <i class="fa-solid fa-circle-check ms-1" style="color: green"></i>
      <% else %>
        <i class="fa-solid fa-circle-xmark ms-1" style="color: red"></i>
      <% end %>
    </div>

  </div>


  <div class="mt-3">
    <%= link_to recipe, class: "btn btn-primary me-1 mt-0" do %>
      Info <i class="bi bi-info-square ms-2"></i>
    <% end %>  
    
    <% if user_signed_in? and recipe.user == current_user %>
      <%= link_to edit_recipe_path(recipe), class: "btn btn-warning me-1" do %>
        Edit <i class="bi bi-pencil-square ms-2"></i>
      <% end %>  
      <%= link_to recipe, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" do %>
        Delete <i class="bi bi-x-square ms-2"></i>
      <% end %>      
    <% end %>
  </div>      

</div>

<% end %>
