<%= turbo_frame_tag recipe do %>
  <div class="list-group-item list-group-item-action mt-2 mb-2">

  <div class="row d-flex w-100 justify-content-between mt-2 mb-2">

    <div class="col-md">
      <%= recipe_tile_image(current_user, recipe) %>
    </div>

    <div class="col text-left">
      <h5><%= recipe.title %></h5>
      <%= recipe_badges(recipe) %> <br/>
      <%= recipe_tags(recipe) %>
      <div class="mt-4"><%= recipe.brief_info %></div>
    </div>

    <div class="col-auto">
      <div class="row text-right">
        <small>
          <%= time_ago_in_words recipe.created_at %> ago | 
          <%= link_to recipe.user.email, user_path(recipe.user), target: "_top" %>

          <%= recipe_likes_count_badge(recipe) %> 
          <%= recipe_cooked_badge(current_user, recipe) %>
        </small>
      </div>

      <div class="row mt-md-5 text-right">
        <%= link_to recipe, class: "col-auto btn btn-primary me-1 mt-0" do %>
          <i class="fa-solid fa-info mx-2"></i>
        <% end %>  
        
        <% if user_signed_in? and recipe.user == current_user %>
          <%= link_to edit_recipe_path(recipe), class: "col-auto btn btn-warning me-1" do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>  
          <%= link_to recipe, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "col-auto btn btn-danger" do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>      
        <% end %>
      </div>

    </div>

</div>

</div>

<% end %>
