<div class="list-group-item list-group-item-action mt-3">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><%= recipe.title %></h5>
    <small>
      3 days ago
    </small>
  </div>
  <p class="mb-1"><%= recipe.description %></p>

  <small>
    And some small print.
  </small>

  <div class="row">

    <div class="col">
      Halal 
      <% if recipe.is_halal? %>
        <i class="bi bi-check-circle-fill ms-1" style="color: green"></i>
      <% else %>
        <i class="bi bi-x-circle-fill ms-1" style="color: red"></i>
      <% end %>
    </div>

    <div class="col">
      Kosher 
      <% if recipe.is_kosher? %>
        <i class="bi bi-check-circle-fill ms-1" style="color: green"></i>
      <% else %>
        <i class="bi bi-x-circle-fill ms-1" style="color: red"></i>
      <% end %>
    </div>

    <div class="col">
      Veg
      <% if recipe.is_vegetarian? %>
        <i class="bi bi-check-circle-fill ms-1" style="color: green"></i>
      <% else %>
        <i class="bi bi-x-circle-fill ms-1" style="color: red"></i>
      <% end %>
    </div>

  </div>


  <div class="mt-3">
    <%= link_to recipe, class: "btn btn-primary col me-1 mt-0" do %>
      Info <i class="bi bi-info-square ms-2"></i>
    <% end %>  
    <%= link_to edit_recipe_path(recipe), class: "btn btn-warning col me-1" do %>
      Edit <i class="bi bi-pencil-square ms-2"></i>
    <% end %>  
    <%= link_to recipe, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger col" do %>
      Delete <i class="bi bi-x-square ms-2"></i>
    <% end %>      
  </div>      

</div>
