<div>
  <div class="row mt-5">
    <div class="col-5">
      <h1 class="display-3">
        <% if user_signed_in? %>
          <% if params[:shared] %>
            Shared Recipes
          <% elsif params[:liked] %>
            My Favorite
          <% else %>
            My Recipes
          <% end %>
        <% else %>
          All Recipes
        <% end %>
      </h1>
    </div>
    <div class="col-7">
      <% if user_signed_in? %>
        <%= link_to new_recipe_path, class: "btn btn-primary mt-3 me-3" do %>
          New Recipe <i class="fa-solid fa-plus"></i>
        <% end %>
        <%= link_to recipes_path(request.params.except(:action, :controller, :type)), class: "btn btn-warning mt-3 me-3" do %>
          My Recipes <i class="fa-solid fa-user-large"></i>
        <% end %>
        <%= link_to recipes_path(request.params.except(:action, :controller).merge(type: :shared)), class: "btn btn-success mt-3 me-3" do %>
          Shared <i class="fa-solid fa-retweet"></i>
        <% end %>
        <%= link_to recipes_path(request.params.except(:action, :controller).merge(type: :liked)), class: "btn btn-danger mt-3" do %>
          My Favorite <i class="fa-solid fa-heart"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="list-group">

    <div class="digg_pagination mb-3">
      <div class="page_info">
        <%= page_entries_info @recipes %>
      </div>
      <%= will_paginate @recipes, container: false %>
    </div>

    <%= form_tag recipes_path, method: :get do %>
      <%= label_tag "Recipes per page" %>
      <%= select_tag :per_page, options_for_select([5, 10, 15, 20, 25, 50], params[:per_page])  %>
      <%= submit_tag "OK", name: "" %>
    <% end %>

    <% @recipes.each do |recipe| %>
      <%= render 'recipe', recipe: recipe %>
    <% end %>

    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @recipes %>
      </div>
      <%= will_paginate @recipes, container: false %>
    </div>

  </div>
</div> 