<div>
  <div class="row mt-5">
    <div class="col-10">
      <h1 class="display-3">
        <% if user_signed_in? && !params[:shared] %>
          My Recipes
        <% else %>
          Shared Recipes
        <% end %>
      </h1>
    </div>
    <div class="col-2">
      <% if user_signed_in? %>
        <%= link_to "New Recipe", new_recipe_path, class: "btn btn-primary mt-3" %>
        <%= link_to "My Recipes", recipes_path(request.params.except(:action, :controller, :shared)), class: "btn btn-warning mt-3" %>
        <%= link_to "Shared Recipes", recipes_path(request.params.except(:action, :controller).merge(shared: :true)), class: "btn btn-success mt-3" %>
      <% end %>
    </div>
  </div>
  <div class="list-group">

    <div class="digg_pagination mb-3">
      <div class="page_info">
        <%= page_entries_info @recipes %>
      </div>
      <%= will_paginate @recipes, container: false %>
    </div>

    <%= form_tag recipes_path, method: :get do %>
      <%= label_tag "Recipes per page" %>
      <%= select_tag :per_page, options_for_select([5, 10, 15, 20, 25, 50], params[:per_page])  %>
      <%= submit_tag "OK", name: "" %>
    <% end %>

    <% @recipes.each do |recipe| %>
      <%= render 'recipe', recipe: recipe %>
    <% end %>

    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @recipes %>
      </div>
      <%= will_paginate @recipes, container: false %>
    </div>

  </div>
</div> 