<div class="container-fluid">

  <div class="list-group">
    <%= render 'top_liked' %>
  </div>

  <div class="row bg-dark text-light rounded-3 p-2 d-flex justify-content-between">
    <div class="col">
      <h1 class="display-5 mt-3">
        <% if user_signed_in? %>
          <% if params[:shared] %>
            Shared Recipes
          <% elsif params[:liked] %>
            My Favorite
          <% else %>
            My Recipes
          <% end %>
        <% else %>
          All Recipes
        <% end %>
      </h1>
    </div>
    <div class="col-auto">
      <% if user_signed_in? %>
        <%= link_to new_recipe_path, class: "btn btn-primary mt-3 me-3" do %>
          New Recipe <i class="fa-solid fa-plus"></i>
        <% end %>
        <%= link_to recipes_path(request.params.except(:action, :controller, :type)), class: "btn btn-warning mt-3 me-3" do %>
          My Recipes <i class="fa-solid fa-user-large"></i>
        <% end %>
        <%= link_to recipes_path(request.params.except(:action, :controller).merge(type: :shared)), class: "btn btn-success mt-3 me-3" do %>
          Shared <i class="fa-solid fa-retweet"></i>
        <% end %>
        <%= link_to recipes_path(request.params.except(:action, :controller).merge(type: :liked)), class: "btn btn-danger mt-3" do %>
          My Favorite <i class="fa-solid fa-heart"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="list-group">
    <%= render 'pagination' %>

    <% @recipes.each do |recipe| %>
      <%= render 'recipe', recipe: recipe %>
    <% end %>

    <%= render 'pagination' %>
  </div>

</div> 