<%= turbo_stream_from "instructions" %>

<div class="row">
  <div class="col-md-6">

    <% if current_user && current_user.id != @recipe.user.id %>
      <div class="row">
        <div class="col">
          <% if current_user.likes?(@recipe) %>
            <%= button_to unlike_recipe_path(@recipe), method: :delete, class: "btn btn-danger mb-2" do %>
              Unlike <i class="fa-solid fa-heart"></i>
            <% end %>
          <% else %>
            <%= button_to like_recipe_path(@recipe), class: "btn btn-outline-danger mb-2" do %>
              Like <i class="fa-regular fa-heart"></i>
            <% end %>
          <% end %>
        </div>

        <div class="col">
          <% if current_user.cooked?(@recipe) %>
            <%= button_to unmark_cooked_recipe_path(@recipe), method: :delete, class: "btn btn-primary mb-2" do %>
              Unmark Cooked <i class="fa-solid fa-kitchen-set"></i>
            <% end %>
          <% else %>
            <%= button_to mark_cooked_recipe_path(@recipe), class: "btn btn-outline-primary mb-2" do %>
              Mark Cooked <i class="fa-solid fa-kitchen-set"></i>
            <% end %>
          <% end %>
        </div>

        <div class="col">
          <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle= "dropdown" aria-expanded="false">
              Add to List
            </button>
            <ul class="dropdown-menu">
              <% if @lists.empty? %>
                <li class="dropdown-item">You have no lists yet...</li>
              <% end %>

              <% @lists.each do |list| %>
                <li>
                  <% if list.recipes.include?(@recipe) %>
                    <%= button_to remove_list_recipe_path(list_id: list.slug, id: @recipe.slug), method: :delete, type: "button", class: "dropdown-item" do %>
                      <i class="fa-regular fa-square-check me-1"></i>
                      <%= list.title %>
                    <% end %>
                  <% else %>
                    <%= button_to add_list_recipe_path(list_id: list.slug, id: @recipe.slug), type: "button", class: "dropdown-item" do %>
                      <i class="fa-regular fa-square me-1"></i>
                      <%= list.title %>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

      </div>
    <% end %>

    <div class="card">
      <div class="card-header row d-flex justify-content-between">
        <div class="col">
          <h5><%= @recipe.title %></h5>
        </div>
        <div class="col-auto">
          <% if @recipe.likes_count > 0 %>
            <span class="badge bg-danger"><i class="fa-solid fa-heart me-1"></i><%= @recipe.likes_count %></span>
          <% end %>
        </div>
      </div>

      <div class="card-body">
        <%= recipe_info_image(current_user, @recipe) %>
        <hr />
        <p class="card-text"><%= @recipe.brief_info %></p>
        <hr />

        <%= recipe_badges(@recipe) %>
        <hr />
        <%= recipe_tags(@recipe) %>
        <hr />

        <div class="trix-content"><%= @recipe.description %></div>

      </div>

      <div class="card-footer">
        <div class="row justify-content-around m-3">
          <div class="col">
            <%= link_to recipes_path, class: "btn btn-primary" do %>
              <i class="fa-solid fa-list"></i>
            <% end %>
          </div>

          <% if user_signed_in? and @recipe.user == current_user %>
            <div class="col">
              <%= link_to edit_recipe_path(@recipe), class: "btn btn-warning" do %>
                <i class="fa-solid fa-pen"></i>
              <% end %>
            </div>

            <div class="col">
              <%= link_to @recipe, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" do %>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  
  <div class="col-md-6 mt-3">

    <div class="row d-flex justify-content-around">
      <p class="col display-6">Instructions</p>
      <div class="col-auto">
        <% if current_user && @recipe.user == current_user %>
          <%= link_to new_recipe_instruction_path(@recipe),
                      data: { turbo_frame: dom_id(Instruction.new) },
                      class: "btn btn-primary mb-1" do %>
            <i class="fa-solid fa-plus me-1"></i> New Instruction
          <% end %>
        <% end %>
      </div>
    </div>

    <hr />
    <%= turbo_frame_tag Instruction.new %>

    <%= turbo_frame_tag "instructions" do %>
      <%= "There are no instructions yet..." if @instructions.empty? %>
      <%= render @instructions, partial: "instructions/instruction" %>
    <% end %>                  
  </div>

</div>