<%= turbo_stream_from "instructions" %>

<div class="row">
  <div class="col-md-6">

    <% if current_user && current_user.id != @recipe.user.id %>
      <% if current_user.likes?(@recipe) %>
        <%= button_to unlike_recipe_path(@recipe), method: :delete, class: "btn btn-danger mb-2" do %>
          Unlike <i class="fa-solid fa-heart"></i>
        <% end %>
      <% else %>
        <%= button_to like_recipe_path(@recipe), class: "btn btn-outline-danger mb-2" do %>
          Like <i class="fa-regular fa-heart"></i>
        <% end %>
      <% end %>
    <% end %>

    <div class="card">
      <div class="card-header"><h5><%= @recipe.title %></h5></div>
      <div class="card-body">
        <p class="card-text"><%= @recipe.brief_info %></p>
        <hr />
        <div class="row">

          <div class="col">
            Halal 
            <% if @recipe.is_halal? %>
              <i class="bi bi-check-circle-fill ms-1" style="color: green"></i>
            <% else %>
              <i class="bi bi-x-circle-fill ms-1" style="color: red"></i>
            <% end %>
          </div>

          <div class="col">
            Kosher 
            <% if @recipe.is_kosher? %>
              <i class="bi bi-check-circle-fill ms-1" style="color: green"></i>
            <% else %>
              <i class="bi bi-x-circle-fill ms-1" style="color: red"></i>
            <% end %>
          </div>

          <div class="col">
            Veg
            <% if @recipe.is_vegetarian? %>
              <i class="bi bi-check-circle-fill ms-1" style="color: green"></i>
            <% else %>
              <i class="bi bi-x-circle-fill ms-1" style="color: red"></i>
            <% end %>
          </div>

        </div>    

        <hr />

        <div class="trix-content"><%= @recipe.description %></div>

      </div>

      <div class="card-footer">
        <div class="row justify-content-around m-3">
          <div class="col">
            <%= link_to recipes_path, class: "btn btn-primary" do %>
              List <i class="bi bi-list-ul ms-1"></i>
            <% end %>
          </div>

          <% if user_signed_in? and @recipe.user == current_user %>
            <div class="col">
              <%= link_to edit_recipe_path(@recipe), class: "btn btn-warning" do %>
                Edit <i class="bi bi-pencil-square ms-2"></i>
              <% end %>
            </div>

            <div class="col">
              <%= link_to @recipe, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" do %>
                Delete <i class="bi bi-x-square ms-2"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  
  <div class="col-md-6">
    <p class="display-6">Instructions</p>
    <% if current_user && @recipe.user == current_user %>
      <%= link_to "New Instruction", 
                  new_recipe_instruction_path(@recipe),
                  data: { turbo_frame: dom_id(Instruction.new) },
                  class: "btn btn-primary mb-1" %>
      <hr/>
    <% end %>

    <%= turbo_frame_tag Instruction.new %>

    <%= turbo_frame_tag "instructions" do %>
      <%= "There are no instructions yet..." if @instructions.empty? %>
      <%= render @instructions, partial: "instructions/instruction" %>
    <% end %>                  
  </div>

</div>